*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 0);
    
}
.row{
    margin-top: 15vh;
}
.circle{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 490px;
    height: 490px;
    background-color: rgb(4, 0, 255);
    border-radius: 100%;
    padding:20px;
    box-shadow: 0 0 .5rem rgb(230, 255, 1)inset;
}

.clock{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border: 5px solid #ffffff;
    background-image:radial-gradient(rgb(17, 0, 255) 10%,rgb(183, 184, 253) 15%,rgb(255, 255, 255) 10% ,#16019c 10%,#fa0800);
    border-radius: 100%;
    box-shadow: 0 0 1rem rgb(252, 252, 252) inset;
}

.hour{
    position: relative;
    width: 100px;
    height: 100px;
   
}
.hour::after{
    position: absolute;
    top: -10px;
    left: 47.5%;
    content: "";
    width: 5px;
    height: 70px;
    background-color: white;
    border-radius: 50% 50% 0% 0%;
    box-shadow: 0 0 1rem white;
    clip-path: polygon(50% 0%, 100% 43%, 82% 100%, 18% 100%, 0 46%);


}
.hour::before{
    position: absolute;
    left: 47%;
    top: -100%;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(0, 238, 255);
    border-radius: 100%;
    box-shadow: 0 0 1rem white;
    animation: Animation_hour 2s infinite alternate;
}

.munite{
    position: absolute;
    width: 100px;
    height: 100px;
   
}
.munite::after{
    position: absolute;
    left: 47.5%;
    top: -50%;
    content: "";
    width: 5px;
    height: 100px;
    background-color:white;
    border-radius: 50% 50% 0% 0%;
    clip-path: polygon(50% 0%, 100% 43%, 82% 100%, 18% 100%, 0 46%);
    box-shadow: 0 0 .5rem white;
}
.munite::before{
    position: absolute;
    left: 46%;
    top: -100%;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ffee00;
    border-radius: 100%;
    box-shadow: 0 0 1rem white;
    animation: Animation_munite 1s infinite alternate;
}

.second{
    position:absolute;
    width: 100px;
    height: 100px;
  
}
.second::after{
    position: absolute;
    left: 47.5%;
    top: -102.5%;
    content: "";
    width: 5px;
    height: 200px;
    background-color: white;
     border-radius: 50% 50% 0% 0%;
     box-shadow: 0 0 1rem white;
     clip-path: polygon(34% 69%, 15% 68%, 15% 0, 90% 0, 83% 68%, 64% 69%, 64% 84%, 85% 84%, 85% 100%, 15% 100%, 15% 84%, 34% 84%);
    


}
.second::before{
    position: absolute;
    left: 47%;
    top: -120%;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    box-shadow: 0 0 1rem white;
    animation: Animation .1s infinite alternate;
}

.round{
    position:absolute;
    width: 25px;
    height: 25px;
    background:rgb(255, 255, 255);
    border-radius: 100%;
    z-index: 300;
    box-shadow: 0 0 1rem white;
  
}
.span{
    transform: rotate(-1deg);
    left: 10.5%;
    top: -1%;
    position: relative;
}
span{

    color:white;
    position: absolute;
}

.span span:nth-child(1)::before{
    top: 10px;
    left:20px;
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgb(13, 207, 255);
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

   
}

.span span:nth-child(2)::before{
    top: 10px;
    left:20px;
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgb(0, 0, 0); 
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

   
}

.span span:nth-child(3)::before{
    top: 10px;
    left:20px;
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgb(0, 0, 0);  
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

   
}

.span span:nth-child(4)::before{
    top: 10px;
    left:20px;
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color:rgb(13, 207, 255);
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

   
}

.span span:nth-child(5)::before{
    top: 10px;
    left:20px;
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

   
}

.span span:nth-child(6)::before{
    top: 10px;
    left:20px;
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

   
}

.span span:nth-child(7)::before{
    top: 10px;
    left:20px;
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgb(13, 207, 255);
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

   
}

.span span:nth-child(8)::before{
    top: 10px;
    left:20px;
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

   
}

.span span:nth-child(9)::before{
    top: 10px;
    left:20px;
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

   
}

.span span:nth-child(10)::before{
    top: 10px;
    left:20px;
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgb(13, 207, 255);
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

   
}

.span span:nth-child(11)::before{
    top: 10px;
    left:20px;
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

   
}

.span span:nth-child(12)::before{
    top: 10px;
    left:20px;
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 1rem rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

   
}

.span span:nth-child(1){
    color: white ;
    top: -10px;
    position: absolute;
    transform: rotate(360deg) translateX(185px);

}

.span span:nth-child(2){
    color: white ;
    top: -10px;
    position: absolute;
    transform: rotate(30deg) translateX(185px);

}

.span span:nth-child(3){
    color: white ;
    top: -10px;
    position: absolute;
    transform: rotate(60deg) translateX(185px);

}

.span span:nth-child(4){
    color: white ;
    top: -10px;
    position: absolute;
    transform: rotate(90deg) translateX(185px);

}

.span span:nth-child(5){
    color: white ;
    top: -10px;
    position: absolute;
    transform: rotate(120deg) translateX(185px);

}

.span span:nth-child(6){
    color: white ;
    top: -10px;
    position: absolute;
    transform: rotate(150deg) translateX(185px);

}

.span span:nth-child(7){
    color: white ;
    top: -10px;
    position: absolute;
    transform: rotate(180deg) translateX(185px);

}

.span span:nth-child(8){
    
    color: white ;
    top: -10px;
    position: absolute;
    transform: rotate(210deg) translateX(185px);

}

.span span:nth-child(9){
    color: white ;
    top: -10px;
    position: absolute;
    transform: rotate(240deg) translateX(185px);

}

.span span:nth-child(10){
    color: white ;
    top: -10px;
    position: absolute;
    transform: rotate(270deg) translateX(185px);

}

.span span:nth-child(11){
    color: white ;
    top: -10px;
    position: absolute;
    transform: rotate(300deg) translateX(185px);

}

.span span:nth-child(12){
    color: white ;
    top: -10px;
    position: absolute;
    transform: rotate(330deg) translateX(185px);

}

@keyframes Animation {
    0%{
        background: rgb(0, 252, 239);
    }
    50%{
        background: yellow;
    }
    100%{
        background-color: #fff;
    }
    
}

@keyframes Animation_munite {
    0%{
        background: rgb(252, 0, 0);
    }
    50%{
        background: rgb(255, 255, 255);
    }
    100%{
        background-color: rgb(0, 0, 0);
    }
    
}

@keyframes Animation_hour {
    0%{
        background: rgb(252, 0, 0)
    }
    50%{
        background: rgb(255, 255, 255);
    }
    100%{
        background-color: rgb(0, 0, 0);
    }
    
}